* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3c9b82;
    padding: 20px;
    color: #fff;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 30px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 40px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #3c9b82;
    margin-bottom: 10px;
}

section ul {
    list-style-type: disc;
    margin-left: 20px;
}

footer {
    background-color: rgb(0, 0, 0);
    color: #fff;
    text-align: center;
    padding: 20px;
}

